header {
    height: 120px;
    width: 100%;
    display: flex;
    background-color: grey;
    align-items: center; /*move items from top to bottom*/
    justify-content: space-around; /*move items from left to right*/
}